body {
    font: 14px sans-serif;
    text-align: center;
    margin-bottom: 50px;
}

/* Style the top navigation bar */

.topnav {
    overflow: hidden;
    background-color: #333;
}

/* Style the topnav links */

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #ddd;
}

/* Style the content */

.content {
    background-color: #ddd;
    padding: 10px;
}

/* Style the footer */

.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}